body {
  min-height: 100%;
  font-family: 'Inconsolata';
  margin: 0;
}

html {
  background: url(assets/pillarsOfCreation2560x1440.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.feature {
  position: relative;
}

.feature a {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
  background-color: #FFF;
  opacity: 0;
  filter: alpha(opacity=1);
}

.page {
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -90px;
  margin-top: -80px;
  background-color: #fff;
  width: 180px;
  height: 120px;
  /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 2px; */
  border: 0;
}

.pikachu {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -50px;
}

.underwater {
  width: 180px;
  border-radius: 2px 2px 0 0;
}

.inner {
  text-align: center;
  margin-top: 22px
}

h1 {
  font-size: 1.2em;
  margin: 6px
}

p {
  font-size: .7em;
  margin: 2px;
}

.links {
  margin: 20px;
  /*            font-size: 1.5em;*/
}

.textLink,
.textLink:visited,
.textLink:hover,
.textLink:active {
  color: black!important;
  font-size: 12px;
}

.what {
  font-size: .7em;
}

.inverted-textLink,
.inverted-textLink:hover,
.inverted-link:active,
.inverted-link:visited {
  color: white !important;
  font-size: 12px;
}

.banner {
  position: relative;
  padding: 6px;
  color: white;
  font-size: 12px;
  background-color: black;
  text-align: center;
  z-index: 9999;
}